:root {
    --text : #212121;
    --bdr : #BBBBBB;
    --bgc : #FFFFFF;
    --link : #00AA88;
    --link-hover : #66FFCC;
    
    --text-sub : #555555;
    --bgc-sub : #EFEFEF;
    --bdr-sub : #555555;

    --bgc-alt : #00AA88;
    --text-alt : #FFFFFF;
    --link-alt : #117755;

    --notice : #0088FF;
    --success : #007a62;
    --warning : #FF6600;
    --error : #aa0909;

    --bgc-notice : #BBEEFF;
    --bgc-success : #BBFFEE;
    --bgc-warning : #FFEEAA;
    --bgc-error : #FFCCCC;

    --linear-gradient : linear-gradient(to bottom, rgba(153, 153, 153, 0) 0%, rgba(153, 153, 153, 0.2) 100%);
    --linear-gradient-hover : linear-gradient(to bottom, rgba(153, 153, 153, 0.2) 0%, rgba(153, 153, 153, 0) 100%);

    --box-shadow : 0 0 5px rgba(0, 0, 0, 0.5);
}

.full-main { background-color: var(--bgc); color: var(--text); border-color: var(--bdr); }
.bgc-sub { background-color: var(--bgc-sub); }
.full-sub { background-color: var(--bgc-sub); color: var(--text-sub);  border-color: var(--bdr-sub);}
.full-alt { background-color: var(--bgc-alt); color: var(--text-alt); }

.notice  a,
.notice  { color: var(--notice); }
.success a,
.success { color: var(--success); }
.warning a,
.warning { color: var(--warning); }
.error   a,
.error   { color: var(--error); }

.bgc-notice  { background-color: var(--bgc-notice); }
.bgc-success { background-color: var(--bgc-success); }
.bgc-warning { background-color: var(--bgc-warning); }
.bgc-error   { background-color: var(--bgc-error); }

.full-notice  { background-color: var(--bgc-notice); color: var(--notice); border-color: var(--notice); }
.full-success { background-color: var(--bgc-success); color: var(--success); border-color: var(--success); }
.full-warning { background-color: var(--bgc-warning); color: var(--warning); border-color: var(--warning); }
.full-error   { background-color: var(--bgc-error); color: var(--error); border-color: var(--error); }

.full-notice  a,
.full-notice  a:hover,
.full-notice:hover { color: var(--notice); }
.full-success a,
.full-success a:hover,
.full-success:hover { color: var(--success); }
.full-warning a,
.full-warning a:hover,
.full-warning:hover { color: var(--warning); }
.full-error a,
.full-error a:hover,
.full-error:hover { color: var(--error); }