body {
    margin: 0;
    height: auto;
    min-height: 100%;
    font-size: 1.6em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

main {
    flex: 1 1 auto;
}

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgc-alt);
    color: var(--text-alt);
    padding: 10px 15px 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: var(--bdr);
}

.header-link {
    color: var(--link-alt);
}

.header-link:hover {
    color: var(--link-hover);
}

#logo {
    width: 128px;
    height: 128px;
    background: url('../images/stefoy115-106.png') no-repeat center;
}

#site-name-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#site-name {
    font-family : 'Batang', arial, serif;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-alt);
}

.site-name-infos {
    text-align: center;
}

#header-links {
    padding: 0 0 0 10px;
}

@media (min-width: 769px) {
    #logo {
        width: 128px;
        height: 128px;
    }

    #site-name { font-size: 40px; }
}

a {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

section { padding: 0 20px; }

section header { 
    font-style: italic; 
    padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family : 'Batang', arial, serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.809em; }
h3 { font-size: 1.618em; }
h4 { font-size: 1.456em; }
h5 { font-size: 1.228em; }
h6 { font-size: 1em; }

@media (min-width: 769px) {
    h1 { font-size: 2.456em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.809em; }
    h4 { font-size: 1.618em; }
    h5 { font-size: 1.456em; }
    h6 { font-size: 1.228em; }
}

.button {
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: transparent;
    background-image: var(--linear-gradient);
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr);
    border-radius: 2px;
    font-size: 0.88em;
}

.button:hover {
    background-image: var(--linear-gradient-hover);
}

.icon-button {
    background-color: transparent;
    border-width: 0px;
}

[type="checkbox"] {
    transform: scale(1.2);
}

.select,
.input {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px 10px;
}

/* --- Tables --- */
.table th {
    text-align: center !important;
    background-color: var(--bgc-alt);
    color: var(--text-alt);
    border-color: var(--bdr);
}

.table td {
    text-align: center;
    max-width: 80px;
    border-color: var(--bdr);
}

/* --- footer --- */
#footer {
    text-align: center;
    padding: 10px;
}
