#menu-container {
    position: relative;
}

#menu-trigger {
    cursor: pointer;
    display: block;
    padding: 10px;
    text-align: center;
}

#menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: -100%;
    padding: 0 15px;
    text-align: center;
    z-index: 10;
}

#menu-container:target #menu {
    left: 0;
}

#untrigger {
    position: absolute;
    inset: 0;
    background-color: var(--bgc-error);
    padding: 10px;
    display: none;
}

#menu-container:target #untrigger { display: block; }

#main-menu {
    padding : 0;
    margin: 0;
    list-style-type : none;
    display: flex;
    flex-direction: column;
    background-color: var(--bgc);
}

.menu-item {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--bdr);
}

.menu-item:last-child {
    border-width: 1px;
}

.active {
    background-color: var(--bgc-success);
}

.active:hover {
    background-color: var(--bgc-alt);
}

.menu-item .menu-item-title {
    display : block;
    text-decoration : none;
    padding : 8px 14px;
    height: 100%;
}

.menu-item:hover .menu-item-title {
    background-color: var(--bgc-alt);
    color: var(--text-alt);
}

.menu-item:hover .menu-item-title {
    color: var(--link-hover);
}

@media (min-width: 769px) {
    #menu-trigger { display: none; }
    #menu {
        top: 0;
        width: auto;
        position: relative;
        left: auto;
        margin: auto;
    }

    #main-menu {
        display: inline-flex;
        flex-direction: row;
        border-radius: 15px 15px 0 0;
    }

    .menu-item {
        border-width: 1px 0 0 1px;
    }

    .menu-item:first-child,
    .menu-item:first-child .menu-item-title {
        border-radius: 15px 0 0;
    }

    .menu-item:last-child,
    .menu-item:last-child .menu-item-title {
        border-radius: 0 15px 0 0;
    }

    .menu-item:last-child {
        border-width: 1px 1px 0 1px;
    }
}

