

/* --- Tabs --- */
.tabs-container {
    display: block;
}

.tabs-menu {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--bgc-alt);
    display: flex;
    padding: 5px 5px 0;
    margin: 0;
    list-style-type: none;
}

.tabs-menu > * {
    display: flex;
}

.tab-trigger {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: inherit;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    background-color: var(--bgc-alt);
    color: var(--text-alt);
}

/* Change background color of buttons on hover */
.tab-trigger:hover {
    background-color: var(--bgc);
    color: var(--text);
}

/* Create an active/current tablink class */
.tab-trigger.active-tab {
    background-color: var(--bgc);
    color: var(--text);
}

.tabs-menu-left .tab-trigger {
    margin-right: 5px;
}

.tabs-menu-right .tab-trigger {
    margin-left: 5px;
}

/* Style the tab content */
.tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 0.3s ease;
}

.tab-content.active-tab {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bdr);
    border-top: none;
    padding: 10px;
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: opacity 0.3s ease;
}

/* --- Expand --- */
[id*="expand-"] {
    cursor: pointer;
}

.expand-container {
    position: relative;
}

.expanded-list {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: var(--bgc);
    z-index: 100;
    padding: 20px;
    font-size: 1.2em;
    overflow: auto;
}

.expand-button {
    display: block;
    padding: 5px;
    z-index: 101;
    position: absolute;
    top: 2px;
    left: 50%;
}

.expanded-list .expand-button {
    top: 25px;
}

.matches-list .expand-button {
    left: 0;
}

/* --- Modal --- */
.modal-container {
    display: inline-block;
}

.close-modal-button {
    font-size: 1.8em;
}

.modal-content {
    position: fixed;
    display: none;
    min-width: 55%;
    width: auto;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bgc);
    z-index: 120;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
}

.modal-container.expanded .modal-content {
    display: block;
}