# redirect to home page #
DirectoryIndex index.php?page=home

# Charset #
AddDefaultCharset UTF-8

# Hide directory listings #
Options -Indexes

# Prevent viewing of .htaccess file #
<Files .htaccess>
    # Apache <= 2.3
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    # Apache 2.2
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Deny from all
    </IfModule>
</Files>

# Prevent viewing of config file #
<Files Config.class.php>
    # Apache <= 2.3
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    # Apache 2.2
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Deny from all
    </IfModule>
</Files>